.popup {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--white);
  min-height: 100px;
  min-width: 350px;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
}

.popup-show {
  animation: fadein 0.5s;
}

.popup-close {
  animation: fadeout 0.5s;
}

.closePopupButton {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 2px;
  top: 2px;

  padding: 4px;

  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 10;

  transition: filter 200ms;
}

.closePopupButton:hover {
  filter: opacity(0.8);
  background-color: var(--light-gray);
}

.closePopupButton > img {
  width: 20px;
  height: 20px;
}

.popup-content {
  font-size: 0.8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 24px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
